.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15vh;
  padding-top: 20px;
  text-align: left;
  font-size: .85em;
  border-top: 1px #383838 solid;
}

@media (max-width: 600px) {
  .footer-container {
    justify-content: flex-start;
    gap: 20%;
  }

  .footer-subcontainer  {
    justify-content: flex-start;
  }
  #mobile-hide  {
    display: none;
  }
}