.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15vh;
  padding-top: 20px;
  text-align: left;
  font-size: .85em;
  border-top: 1px #383838 solid;
}